@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

.sidebar {
    width: 268px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    background-color: white;
}

.logoContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}

.logo {
    margin-top: 20px;
    width: 50%;
}

.sidebarElement {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px;
    padding-left: 20%;
    cursor: pointer;
}

.imgContainer {
    display: flex;
    justify-content: center;
    width: 20px;
}

.sidebarElement img {
    height: 1.1rem;
}

.sidebarElement h4 {
    position: fixed;
    left: 100px;
    font-size: 1rem;
    font-weight: 500;
}

.selected{
    background-color: #f7258428;
    position: relative;
}

.selected .marker {
    width: 5px;
    height: 100%;
    position: absolute;
    background-color: #F72585;
    border-radius: 0 100px 100px 0;
    right: -5px;
}